[run]
branch = true
parallel = true
omit =
     setup*
     aiosmtpd/testing/*
     aiosmtpd/tests/*
    .tox/*

[paths]
source =
    aiosmtpd

[report]
exclude_lines =
    pragma: nocover
    pragma: no${PLATFORM}
    pragma: skipif_${PY_39}_py39
