*~
bin
parts
coverage
eggs
sources
build/
dist
venv
.installed.cfg
develop-eggs
var/*
*.egg-info
*.pyc
*.pyo
*.bak
*.egg
*.tar.gz
*.so
.tox
.DS_Store
.coverage
.coverage.*.*
.noseids
docs/_build/
nosetests.xml
__pycache__/
htmlcov/
_dynamic/
_dump/
coverage.xml
coverage-*.xml
diffcov.html
diffcov-*.html
.python-version
prof/
.pytype/
~temp*
*.sw[a-p]
