[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
addopts = """--doctest-glob="*.rst" --strict-markers"""
markers = [
    "controller_data",
    "handler_data",
]

[tool.coverage.run]
branch = true
parallel = true
omit = [
    "aiosmtpd/docs/*",
    "aiosmtpd/qa/*",
    "aiosmtpd/testing/*",
    "aiosmtpd/tests/*",
    ".tox/*",
    "*/helpers/pycharm/*",
    "*/hostedtoolcache/*",  # GitHub Actions site-packages location
]

[tool.coverage.paths]
source = [
    "aiosmtpd",
]

[tool.coverage.report]
exclude_lines = [
    "pragma: nocover",
    "pragma: no${PLATFORM}",
    "pragma: skipif_${PY_39}_py39",
    "pragma: skipon_${INTERP}",
    "pragma: skipif_${PY_36}_py36",
]
fail_under = 100
show_missing = true

[tool.coverage.html]
directory = "htmlcov/${TOX_ENV_NAME}"
title = "aiosmtpd coverage for ${TOX_ENV_NAME}"

[tool.coverage.xml]
output = "coverage-${INTERP}.xml"
