-r requirements.txt

dnspython==2.5.0
flake8==7.0.0
flake8-2020==1.8.1
flake8-annotations-complexity==0.0.8
flake8-bandit==4.1.1
flake8-bugbear==24.1.17
flake8-builtins==2.2.0
flake8-comprehensions==3.14.0
flake8-copyright==0.2.4
flake8-import-order==0.18.2
flake8-pytest-style==1.7.2
flake8-requirements==2.0.1
flake8-simplify==0.21.0
mypy==1.8.0
sphinx==7.2.6
sphinx-autofixture==0.4.0
sphinx-rtd-theme==2.0.0
types-colorama==0.4.15
types-docutils==0.20.0.20240201
